@use 'src/styles/vars.scss';

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-page {
  background: vars.$white;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  
  .header {
    height: 100vh;
    width: 100%;
    letter-spacing: 3px;

    .name {
      font-size: 80px;
      animation: fadein 1s;
      margin-top: 250px;
      color: vars.$black;
    }
    
    .work {
      font-size: 50px;
      animation: fadein 1s;
      margin-top: 70px;
      color: vars.$orange;
    }

    .link {
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      a {
        transition: 0.7s;
      }
      a:hover {
        letter-spacing: 5px;
        color: vars.$orange;
      }
    }
  }

  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: vars.$orange;

    
    .text-presentation {
      text-align: left;
      color: vars.$white;      
      background: vars.$black;
      border-radius: 10px;
      font-size: 20px;
      line-height: 30px;
      animation: fadein 1;
      width: 70%;
      margin-top: 25px;
      padding: 20px;

      .oclock {
        color: #0ac3a7;
      }
    }

    .title-presentation {
      animation: fadein 1s;
      text-decoration: underline;
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 25px;
      color: vars.$white;
    }
  }
  
  .skill {
    animation: fadein 2s;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title-skill{
      animation: fadein 1s;
      text-decoration: underline;
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 25px;
      color: vars.$orange;
    }

    .pictures-skills {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 80px;

      img {
        max-width: 10%;
        animation: fadein 2s;
        transition: 1s;
      }
    }

    .pictures-skills-under {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 80px;

      img {
        max-width: 10%;
        animation: fadein 2s;
        transition: 1s;
      }
    }

  }

  .formation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: vars.$orange;
    padding-top: 100px;

    .title-formation {
      animation: fadein 1s;
      text-decoration: underline;
      font-size: 35px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 25px;
      color: vars.$white;
    }

    .text-formation {
      text-align: left;
      color: vars.$white;      
      background: vars.$black;
      border-radius: 10px;
      font-size: 20px;
      line-height: 30px;
      animation: fadein 1;
      width: 70%;
      margin-top: 25px;
      padding: 20px;
    }

    .picture-formation {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;

      img {
        margin: 20px;
      }
    }
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    img {
      max-width: 10%;
      animation: fadein 2s;
      transition: 1s;
      padding-bottom: 40px;
    }
  }
}
